.jcrop_example{background:#FFF;
	width: 100%;
}
.accordion form{
	border:1px solid;
	background:#E6E6E6;
	border-color:#C3C3C3 #8B8B8B #8B8B8B #C3C3C3;
	margin:.5em 0;
	padding:.5em
}
.jcrop_custom .jcrop-vline,.jcrop_custom .jcrop-hline{
	background:#FF0;
}
.jcrop_custom .jcrop-handle{
	background-color:#FF4B4B;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-color:#FFF
}